.pageContainer {
  display: grid;
  row-gap: 20px;
}

.namesContainer {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.namesLabel {
  font-size: 20px;
  color: white;
}

.namesSelect {
  font-size: 20px;
}

.namesButton {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding-inline: 20px;
  cursor: pointer;
  color: white;
  transition: all 0.2s linear;
}

.namesButton:hover {
  color: #294d5c;
  border-color: #294d5c;
  background-color: white;
}

.bestSellersDate {
  font-size: 20px;
  color: white;
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style-type: none;
}

.listSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem {
  position: relative;
  padding: 20px;

  min-height: 380px;
  border: 1px solid lightslategrey;
  border-radius: 10px;
  transition: all 0.2s linear;
  user-select: none;
  cursor: pointer;

  a {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
  }
}

.listItem:hover {
  border-color: #294d5c;
  background-color: lightgrey;

  a {
    color: #294d5c;
  }
}

.listItemImage {
  border-radius: 10px;
}

.listItemTitle {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.listItemDescription p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.listItemAuthor {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.listItemLinkIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.listItem:hover .listItemLinkIcon {
  opacity: 1;
}
